.page__result {
    padding: 24px;
    max-width: 1000px;
    margin: 0 auto;
    background-color: #f0f2f5;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }
  
  .page__header {
    margin-bottom: 24px;
    font-size: 16px;
  }
  
  .table_results {
    margin-top: 20px;
  }
  
  .green-color {
    color: #52c41a; /* Màu xanh cho câu trả lời đúng */
  }
  
  .red-color {
    color: #ff4d4f; /* Màu đỏ cho câu trả lời sai */
  }
  
  .ant-card {
    margin-bottom: 16px;
  }
  